.padding-right-left.padding-top-bottom.mask-project
  .row
    .col-lg-3.item-project{:style => "border-right: 1px solid #616161;"}
      .number-counter
        %p.counter-value{"data-count" => "940"} 0
        %span +
      %h2 PROYECTOS REALIZADOS
    .col-lg-3.item-project{:style => "border-right: 1px solid #616161; "}
      .number-counter
        %p.counter-value{"data-count" => "390"} 10
        %span +
      %h2 EMPRESAS ALIADAS
    .col-lg-3.item-project{:style => "border-right: 1px solid #616161;"}
      .number-counter
        %p.counter-value{"data-count" => "990"} 25
        %span +
      %h2 CASOS ATENDIDOS
    .col-lg-3.item-project
      .number-counter
        %p.counter-value{"data-count" => "940"} 38
        %span +
      %h2 CLIENTES SATISFECHOS