.wrapper
  #loader-wrapper
    #loader
      .spinner
        %svg{:viewbox => "0 0 66 66", :xmlns => "http://www.w3.org/2000/svg"}
          %circle.length{:cx => "33", :cy => "33", :fill => "none", :r => "28", "stroke-linecap" => "round", "stroke-width" => "8"}
        %svg{:viewbox => "0 0 66 66", :xmlns => "http://www.w3.org/2000/svg"}
          %circle{:cx => "33", :cy => "33", :fill => "none", :r => "28", "stroke-linecap" => "round", "stroke-width" => "8"}
        %svg{:viewbox => "0 0 66 66", :xmlns => "http://www.w3.org/2000/svg"}
          %circle{:cx => "33", :cy => "33", :fill => "none", :r => "28", "stroke-linecap" => "round", "stroke-width" => "8"}
        %svg{:viewbox => "0 0 66 66", :xmlns => "http://www.w3.org/2000/svg"}
          %circle{:cx => "33", :cy => "33", :fill => "none", :r => "28", "stroke-linecap" => "round", "stroke-width" => "8"}
