.box-description.padding-right-left.padding-top-bottom
	%h2.title-section
		PROPONER IDEA DE
		%br/
		%span NEGOCIO
	%p
		Queremos incrementar el capital a través del tiempo haciendo inversiones en mercados que conocemos y dominamos. Siempre estamos en búsqueda de oportunidades de inversión con la intención de asociarnos con inversores que compartan nuestra filosofía.
	%a.btn-green.one{:href=> "/form"}
		.insider
		INVERTIR AHORA
.box-img