%h2.title-section.padding-right-left SECTORES DE INVERSIÓN
%p.subtitle-sector.padding-right-left
  Proporcionamos opciones de inversión con rentabilidades superiores.
  Invierta en nuestros sectores foco.
.padding-right-left
  .row
    .col-lg-4.col-sm-6.item-sector.p-b-sector
      %a{:href => "https://inveroptima.com/", target: '_blank'} 
        %img{:alt => "", :src => "/assets/app/investment.svg"}
        .content-sector
          %h2.title-sectors Desarrollo Inmobiliario
          %p Real State
    .col-lg-4.col-sm-6.item-sector
      %a{:href => "https://www.instagram.com/todoinmuebles.mde/", target: '_blank'} 
        %img{:alt => "", :src => "/assets/app/hand.svg"}
        .content-sector
          %h2.title-sectors Administración
          %p Activos inmobiliarios
    .col-lg-4.col-sm-6.item-sector.p-b-sector
      %a{:href => "http://co-laborativo.com.co/", target: '_blank'} 
        %img{:alt => "", :src => "/assets/app/enterprise.svg"}
        .content-sector
          %h2.title-sectors Empresarial
          %p Soluciones en espacios y de crecimiento para el sector empresarial.
    .col-lg-4.col-sm-6.item-sector.p-b-sector
      %a{:href => "http://todoreformas.com.co/", target: '_blank'} 
        %img{:alt => "", :src => "/assets/app/hook.svg"}
        .content-sector
          %h2.title-sectors Arquitectura y Contrucción
          %p Construcción profesional a crédito
    .col-lg-4.col-sm-6.item-sector
      %a{:href => "http://www.isideco.co/", target: '_blank'} 
        %img{:alt => "", :src => "/assets/app/decorating.svg"}
        .content-sector
          %h2.title-sectors Diseño de Espacios
          %p Interior y mobiliario
    .col-lg-4.col-sm-6.item-sector
      %a{:href => "http://photogrammar.com", target: '_blank'} 
        %img{:alt => "", :src => "/assets/app/social-media.svg"}
        .content-sector
          %h2.title-sectors Imagen Pública
          %p Marketing y Publicidad