// Customers Stylesheets
= stylesheet_link_tag 'keppler_customers/application', media: 'all', 'data-turbolinks-track': true
// Customers Javascripts
= javascript_include_tag 'keppler_customers/application', 'data-turbolinks-track': true